{% extends "layout.html" %}
{% block content %}
	<p>I made this website for FIRST robotics students. Every year we participate in competitions, and every year we have to manually and tediously remake something called a scouting schedule, as pictured below.</p>
	<img src="https://contattafiles.s3.us-west-1.amazonaws.com/irs1318/1NApkWnRflbM1jA/Capture.PNG">
	<p>In order to make the process more efficient for all these students, I created this website that, after a few quick inputs, makes the schedule for you.</p>
{% endblock content %}