<div  *ngIf="measure">
    <div *ngIf="measure.measure_type === 'ENUM'">
        <div><span>{{measure.measure_name | uppercase}} INT id: </span>{{measure.measure_id}}</div>
        <div>
            <select [(ngModel)]="measure.value" convert-to-number>
                <option value="0">Zero</option>
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
            <label>value:
            <input [(ngModel)]="measure.value" placeholder="value"/>
            </label>
        </div>
    </div>
    <div *ngIf="measure.measure_type === 'INT'">
        <div><span>{{measure.measure_name | uppercase}} INT id: </span>{{measure.measure_id}}</div>
        <div>
            <label>name:
            <input [(ngModel)]="measure.measure_name" placeholder="measure_name"/>
            </label>
            <label>value:
            <input [(ngModel)]="measure.value" placeholder="value"/>
            <button (click)="increment()">+1</button>
            <button (click)="decrement()">-1</button>
            </label>
        </div>
    </div>
    <div *ngIf="measure.measure_type === ''">
        <div><span>{{measure.measure_name | uppercase}} None id: </span>{{measure.measure_id}}</div>
        <div>
            <label>name:
            <input [(ngModel)]="measure.measure_name" placeholder="measure_name"/>
            </label>
            <label>value:
            <input [(ngModel)]="measure.value" placeholder="value"/>
            </label>
        </div>
    </div>
</div>
