<div class="content" role="main">
  <mat-toolbar>      
      <mat-toolbar-row>
        <div style="margin-left:20px;">
            <a routerLink="/dashboard">Dashboard</a>
        </div>
        <div style="margin-left:20px;">
            <a routerLink="/heroes">Heroes</a>
        </div>
        <div style="margin-left:20px;">
            <a routerLink="/scoreCard">ScoreCard</a>
        </div>
        <div style="margin-left:20px;">
            <a routerLink="/match">Matches</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  <mat-sidenav-container class="example-container" *ngIf="true">
      <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
      <mat-sidenav-content>Main content</mat-sidenav-content>
    </mat-sidenav-container>
  <router-outlet></router-outlet>
  <app-messages ></app-messages>
</div>

