
 <div>
    <label>matchNumber:
    <input [(ngModel)]="match" placeholder="name"/>
    </label>
    <button (click)="getRedVBlue()">Get Match</button>
</div>
<div *ngIf="redvBlue">
    <p>Red</p>
    <ul>
    <li *ngFor="let red of redvBlue.red">
        <a routerLink="/team/{{red.team}}">
        <span class="badge">{{red.team}}</span> {{red.team}}
        <span class="badge">{{red.alliance}}</span> {{red.station}}
        </a>
    </li>
    </ul>
</div>
<div *ngIf="redvBlue">
    <p>Blue</p>
    <ul>
    <li *ngFor="let blue of redvBlue.blue">
        <a routerLink="/team/{{blue.team}}">
        <span class="badge">{{blue.team}}</span> {{blue.team}}
        <span class="badge">{{blue.alliance}}</span> {{blue.station}}
        </a>
    </li>
    </ul>
</div>