<mat-horizontal-stepper linear="true" #stepper>
  <mat-step>
      <ng-template matStepLabel>Auto</ng-template>
      <app-phase-auto [measures]="measures">
      </app-phase-auto>
      <div>
          <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Teleop</ng-template>
      <!-- Insert a teleop component here -->
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>EndGame</ng-template>
      <!-- Insert a endGame component here -->
      <div>
          <button mat-button matStepperPrevious>Back</button>
      </div>
  </mat-step>
</mat-horizontal-stepper>

<button (click)="resetMeasures()">Reset</button>