<div>team {{matchScoreCard.selectedTeam.name}}</div>
<div>alliance {{matchScoreCard.selectedTeam.alliance}}</div>
<div>station {{matchScoreCard.selectedTeam.station}}</div>

<mat-horizontal-stepper linear="true" #stepper>
  <mat-step>
      <ng-template matStepLabel>Auto</ng-template>
      <div>
          <button mat-button matStepperNext>Next</button>
      </div>
      <app-phase-auto [measures]=" matchScoreCard.score">
      </app-phase-auto>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Teleop</ng-template>
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
      </div>
      <app-phase-teleop [measures]=" matchScoreCard.score">
      </app-phase-teleop>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>EndGame</ng-template>
      <div>
          <button mat-button matStepperPrevious>Back</button>
      </div>
      <app-phase-endgame [measures]=" matchScoreCard.score">
      </app-phase-endgame>
  </mat-step>
</mat-horizontal-stepper>

<button (click)="resetMeasures()">Reset</button>