<div  *ngIf="measure">
    <div *ngIf="measure.measure_type === 'ENUM'">
        <div>{{measure.measure_name | uppercase}}</div>
        <div>
            <select [(ngModel)]="measure.value" convert-to-number>
                <option value="0">Load</option>
                <option value="1">Center</option>
                <option value="2">Goal</option>
            </select>
        </div>
    </div>
    <div *ngIf="measure.measure_type === 'COUNT'">
        <div>{{measure.measure_name}}</div>
        <div>
            <button (click)="increment()">+1</button>
            <button (click)="decrement()">-1</button>            
        </div>
    </div>
    <div *ngIf="measure.measure_type === 'BOOL'">
        <div>{{measure.measure_name}} </div>
        <div>
            <input type="checkbox" [(ngModel)]="measure.value" placeholder="value"/>
        </div>
    </div>
</div>
