<div  *ngIf="measure">
    <div *ngIf="measure.measure_type === 'ENUM'">
        <mat-form-field>
            <mat-label>{{measure.measure_name}} </mat-label>
            <mat-select [(ngModel)]="measure.attempts" >
                <mat-option *ngFor="let option of options" [value]="option.value" convert-to-number>
                    {{option.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="measure.measure_type === 'COUNT'">
        <div class="button-header">{{measure.measure_name}} {{measure.successes}}/{{measure.attempts}}</div>
        <button mat-raised-button color="primary" (click)="hit()">hit</button>
        <button mat-stroked-button color="primary" (click)="undoHit()">undo</button>  
        
        <button mat-raised-button color="accent" (click)="miss()">miss</button>
        <button mat-stroked-button color="basic" (click)="undoMiss()">undo</button>                         
    </div>
    <div *ngIf="measure.measure_type === 'BOOL'">
        <div>
            <mat-slide-toggle
                class="example-margin"
                [(ngModel)]="measure.attempts"
                color="primary"
                convert-to-number>{{measure.measure_name}} 
            </mat-slide-toggle>
        </div>
    </div>
</div>
